<mat-toolbar >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <img src="assets/images/logoFestiCar.png" class="logoFesticar" alt="">
  </button>
  <span class="example-spacer"></span>

  <div class="header-elements">
    <div class="custom-tab" >First</div>
    <div class="custom-tab" >Second</div>
    <div class="custom-tab">
      <button mat-icon-button class="example-icon" (click)="authService.FacebookAuth()"> Connexion</button>
    </div>
  </div>
</mat-toolbar>



