
.logoFesticar {
  width: 100px;
  height: auto;
  border: none;
  background-color: transparent;
}

.mat-toolbar {
  background-color: white;
  gap: 5px;
  height: auto;
}

button.example-icon {
  background-color: white;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  width: 80px;
  height: 30px;
  font-size: 11px;
  border: none;
  color: #4AD3B8;
  font-weight: bold;
  padding: 0;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.header-elements{
  background-color: #4AD3B8;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  align-items: center;
  border: 1px solid #4AD3B8;
  border-radius: 50px;
  overflow: hidden;
  
  .mat-icon.cart{
    color: white;
    margin-left:  268px;
    margin-bottom: 19px;
  }

  .nombre-articles {
    position: relative;
    top: 14px;
    color: white; 
    padding: 0px 9px; 
    font-size: 12px; 
    margin-left:  268px;
  }
}

.custom-tab{
  color: white;
  font-family: Arial;

}
.mat-icon{
  color: white;
  margin-left:  268px;
}
.mat-tab-label {
  border-bottom: none;
}

.user-infos {
  display: inline-flex;
  align-items: center;
  gap: 20px;

  .connexionlogo{
    height: 28px;
    border-radius: 98%;
    float: left;
    width: 28px;
    position: absolute;

  }

  .text-connexion{
    margin-left: 32px;
  }

@media only screen and (min-width: 600px) {
  .mat-toolbar {
    height: 90px; /* Hauteur pour les écrans larges */
  }

  .header-elements {
    height: 90px; /* Hauteur pour les écrans larges */
  }

  .example-icon {
    width: 80px;
    font-size: 11px;
    height: 30px;
  }

  .mat-icon {
    margin-left: 268px;
  }
}

/* Styles pour les écrans étroits (par exemple, jusqu'à 599px) */
@media only screen and (max-width: 599px) {
  .mat-toolbar {
    height: auto; /* Hauteur automatique pour les écrans étroits */
  }

  .header-elements {
    height: auto; /* Hauteur automatique pour les écrans étroits */
    flex-direction: column; /* Pour empiler les éléments verticalement */
  }

  .example-icon {
    width: 100%; /* Largeur pleine pour les écrans étroits */
    height: 50px; /* Hauteur pour les écrans étroits */
    margin-top: 10px; /* Espace en haut pour les écrans étroits */
  }

  .mat-icon {
    margin-left: 0; /* Réinitialiser la marge pour les écrans étroits */
  }

}}