
.logoFesticar {
  width: 100px;
  height: auto;
  border: none;
  background-color: transparent;
}

.mat-toolbar {
  background-color: white;
  gap: 5px;
  height: auto;
}

button.example-icon {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  align-items: right;

}

.header-elements{
  gap: 2px;
  background-color: #4AD3B8;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  align-items: center;
  border: 1px solid #4AD3B8;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.custom-tab{
  color: white;

}
.mat-icon{
  color: white;
  margin-left:  268px;
  
  float: right;
}
.mat-tab-label {
  border-bottom: none;
}



