<div class="festival-container">
    
    <div class="festivalImage">
        <img src="/assets/images/festival1.png" >
    </div>
        <div class="festivalDetails">
            <h1 class="event-title">Worldwide Concert Lyon </h1>
        <ul>
            <i>Domain: </i>
            <i>Date de début: </i>
            <i>Date de fin: </i>
            <i>Lieu: </i>
            <i>Site Web: </i>
        </ul>
            <hr>
         <div  class="places-restantes"> <mat-icon>whatshot</mat-icon><span>x places restantes</span> </div>
    </div>
   
    </div>
    <div class="search-container">
        <mat-form-field class="location-field">
            <mat-icon matPrefix>location_on</mat-icon>
            <input matInput  type="text" ngx-google-places-autocomplete
            [options]="options"
            (onAddressChange)="handleAddressChange($event)" placeholder="Votre addresse" />

        </mat-form-field>

        <mat-form-field class="pass-field">
            <mat-icon matPrefix>supervisor_account</mat-icon>
          <input matInput type="text" placeholder="Nombre de pass" />
        </mat-form-field>
        <button mat-icon-button class="search-covoiturage" >Trouver covoiturage</button>
      </div>

    <div>
    </div>
    <div class="container-fluid">
        <br /><br />
        <ul class="list-unstyled multi-steps">
          <li >Choisir un festival</li>
          <li class="is-active">Choisir une covoiturege</li>
          <li >Choisir point de départ</li>
          <li>Valider</li>
        </ul>
      </div>
    <app-liste-covoiturages></app-liste-covoiturages>

