
.container-fluid{
 padding-top: 20px;
}
.festival-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
 
  }

  .festivalImage {
    flex: 0 0 auto;
    margin-right: 72px;
    margin-left: 72px;
  }

  .festivalImage img {
    max-width: 100%;
    height: auto;
  }

  .festivalDetails {
    flex: 1;
  }

.places-restantes{
  background-color: #F1CE53; 
  color: #fff; 
  padding: 3px 8px; 
  border-radius: 5px; 
  display: flex;
  align-items: center; 
  width: max-content;

}
 




  .event-title {
    font-size: 24px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

  }

  .festivalDetails ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }

  .festivalDetails ul i {
    display: block;
    margin-bottom: 8px;
  }

  .search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px; 
  }

  mat-form-field {
    width: fit-content;

  }



  .search-covoiturage{
    height: 56px;
    width: max-content;
    background-color:#4AD3B8;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
  }

 .places-restantes .mat-icon{
  color: rgb(243, 134, 0);
  
 }
 
  .mat-icon{
    color: #4AD3B8;
  }
  .container-fluid{
    margin-top: -42px;
  }

$brand-primary: #4AD3B8;
$white: #fff;
$grey-light: #ededed;
%remain-steps{
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after{
    background-color: $grey-light;
  }
}
.multi-steps{
  display: table;
  table-layout: fixed;
  width: 100%;
  > li{
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $brand-primary;

    &:before{
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $brand-primary;
        radius: 50%;
      }
    }
    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background-color: $brand-primary;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }

    &.is-active{
      @extend %remain-steps;
      &:before{
        background-color: $white;
        border-color: $brand-primary;
      }

      ~ li{
        color: #808080;
        @extend %remain-steps;
        &:before{
          background-color: $grey-light;
          border-color: $grey-light;
        }
      }
    }
  }
}


  .mat-icon{
    color: #4AD3B8;
  }

  .covoiturage-app{
    margin-top: 30px;
  }

