.festival-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
 
  }

  .festivalImage {
    flex: 0 0 auto;
    margin-right: 72px;
    margin-left: 72px;
  }

  .festivalImage img {
    max-width: 100%;
    height: auto;
  }

  .festivalDetails {
    flex: 1;
    margin-top: -111px ;
  }
.places-restantes{
  background-color: #F1CE53; 
  color: #fff; 
  padding: 3px 8px; 
  border-radius: 5px; 
  display: flex;
  align-items: center; 
  width: max-content;

}
 
  .event-title {
    font-size: 24px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

  }

  .festivalDetails ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }

  .festivalDetails ul i {
    display: block;
    margin-bottom: 8px;
  }

  .search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  mat-form-field {
    width: fit-content;

  }

  .search-covoiturage{
    height: 56px;
    width: max-content;
    background-color:#4AD3B8;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
  }
 .places-restantes .mat-icon{
  color: rgb(243, 134, 0);
  
 }
 
  .mat-icon{
    color: #4AD3B8;
  }
  