.accueil-title{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  
}

.search-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.search-button {
  height: 56px;
  background-color: #4AD3B8;
}

.mat-icon{
  color: #4AD3B8;
}
