.image-accueil{
  width: 100%;
  position: relative;
}
.image-accueil img{
  width: 100%;
  display: block;
  margin-top: -9px;
  
}
.accueil-title{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  top:0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.search-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px; 

}


.search-button {

  height: 56px;
  width: 80px;
  background-color:#4AD3B8;
  color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

.mat-icon{
  color: #4AD3B8;
}


$brand-primary: #4AD3B8;
$white: #fff;
$grey-light: #ededed;
%remain-steps{
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after{
    background-color: $grey-light;
  }
}
.multi-steps{
  display: table;
  table-layout: fixed;
  width: 100%;
  > li{
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $brand-primary;

    &:before{
      content: '\f00c';
      content: '\2713;';
      content: '\10003';
      content: '\10004';
      content: '\2713';
      display: block;
      margin: 0 auto 4px;
      background-color: $white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: $brand-primary;
        radius: 50%;
      }
    }
    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background-color: $brand-primary;
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }

    &.is-active{
      @extend %remain-steps;
      &:before{
        background-color: $white;
        border-color: $brand-primary;
      }

      ~ li{
        color: #808080;
        @extend %remain-steps;
        &:before{
          background-color: $grey-light;
          border-color: $grey-light;
        }
      }
    }
  }
}