
<div class="accueil-title">Trouver vos festival</div>

<div class="search-container">

       
    <mat-form-field class="example-form-field">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" placeholder="Nom de festival" [(ngModel)]="festivalName" />
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-icon matPrefix>location_on</mat-icon>
    <input matInput type="text"ngx-google-places-autocomplete
    [options]="options"
    (onAddressChange)="handleAddressChange($event)" placeholder="Ville" [(ngModel)]="festivalPlace" />
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-icon matPrefix>my_location</mat-icon>
    <input matInput type="text"ngx-google-places-autocomplete
    [options]="options"
    (onAddressChange)="handleAddressChange($event)" placeholder="Votre Addresse" [(ngModel)]="festivalierAddresse" />
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-icon matPrefix>event</mat-icon>
    <input matInput type="date" placeholder="Date" [(ngModel)]="festivalDate" />
  </mat-form-field>
 
  <mat-form-field class="example-form-field">
    <mat-icon matPrefix>theaters</mat-icon>
    <input matInput type="text" placeholder="Domaine" [(ngModel)]="festivalDomaine" />
  </mat-form-field>
  <button mat-icon-button class="search-button" (click)="searchFestivals()" >Chercher</button>
</div>




  
<div class="accueil-event-liste">
  <!-- <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of eventItems">
      <mat-card>
        <mat-card-header>
          <img mat-card-image src="{{ item.imageSrc }}" alt="Image">
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <app-liste-festivals></app-liste-festivals>
</div>
