.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans Semi-Bold';
    font-size: large;
  }
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    box-shadow:0px 2px 25px #000;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    padding: 10px 20px 15px 20px;
    border-radius: 3px;
  }
  .example-full-width{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  
  .icon-container {
    margin-bottom: 20px;
    padding: 5px 0;
  }
  img{
    width: 50%;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100px;
    background-color:#4AD3B8;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    margin: 10px 0;
    border: none;
    width: max-content;
    border-radius: 3px;
    font-size: 17px;
  }
  .valider{
    justify-content: center;

  }

 
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }