
<div class="liste-des-covoiturages" *ngIf="covoiturageTab.length > 0" >
  <div class="box-container" *ngFor="let offreCovoiturage of covoiturageTab" (click)="ouvrirCovoiturage(offreCovoiturage )" >

    <div class="box-location" *ngFor="let item of offreCovoiturage.etape">
      <div class="trajet-time">
      <div class="time">
        <p>{{ extractHourFromDate(item.heure) }}</p>
      </div>
        <div class="trajet">
          <ul>
  
            <i ><mat-icon matPrefix>location_on</mat-icon>{{ item.lieuCovoiturage.adresseLieu  }}</i><br>
            <div class="vertical-line"></div>
  
          </ul>
        </div>
      </div>
        <div class="price" >
          <strong fxLayout="row" fxLayoutAlign="end center">{{ item.prix }} €</strong>
        </div>
     
    </div>
    <hr>
    <div class="driver">
      <p>{{ offreCovoiturage.conducteur.prenom }} {{ offreCovoiturage.conducteur.nom }}</p>
      <p>{{ offreCovoiturage.nbPlace }}</p>
    </div>
  </div>
</div>
