<div class="festival-container">
    <h1 class="event-date">23 juin </h1>
    <div class="box-container">
        <div class="box">
          
            <div class="box-location">
                <div class="time">
                  <p>  12:06</p>
                  <p>  12:06</p>
    
                </div>
            <div class="trajet">   
            <ul>
                <i> <mat-icon matPrefix>location_on</mat-icon>Metz</i>
    
              <ul>
                  <i>etape 1</i> <br>
                  <i>etape 2</i>
               </ul>
               
                <i><mat-icon matPrefix>location_on</mat-icon>Lille</i>
            </ul>
        </div> 
           
            </div>
           
        </div>
    </div>
    
</div>