<!-- <div class="list-of-festivals"> list of festivals </div> -->

<!-- <div class="liste-festival">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of festivalsTab">
      <mat-card>
        <mat-card-header>
          {{ item.nomManifestation }}
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<!-- <div class="liste-festival">
  <mat-grid-list cols="3" rowHeight="2:1">
    <div class="elem-liste-festival">
      <mat-grid-tile *ngFor="let festival of festivalsTab " >
        <mat-card  [routerLink]="['/details', festival.idFestival]">
          <mat-card-header>
            <img mat-card-image src="{{ festival.sousDomaine.domaine.nomDomaine}}.png "  alt="Image">
            <mat-card-title>{{ festival.nomManifestation }}</mat-card-title>
            <mat-card-subtitle>{{ festival.dateDebut }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Tarif: {{ festival.tarif }} £</p>
            <p>Places restantes: {{ festival.nbPlaceRestante }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div> -->
<!--
<div class="liste-festival">
  <mat-action-list >
    <button mat-list-item  *ngFor="let festival of festivalsTab ">
      <div class="festival-domaine">

      </div>
      <div>
        {{ festival.nomManifestation }}
      </div>
      <div>
        {{ festival.dateDebut }}
      </div>
      <div>
        {{ festival.nbPlaceRestante }}
      </div>
      <div>
        {{ festival.tarif }}
      </div>


    </button>
  </mat-action-list>
</div> -->


<mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [length]="" [pageSize]="10" showFirstLastButtons ></mat-paginator>
<div class="festivals-grid">
  <div *ngFor="let festival of festivalsTab" class="clickable-card" style="max-width: 450px;">
      <mat-card  [routerLink]="'/accueil'">
        <mat-card-header>
          <div class="header-content">
            <img src="assets/images/Musiques actuelles.png" alt="Image du festival">
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>{{ festival.nomManifestation }}</mat-card-title>
          <mat-card-subtitle>{{ festival.dateDebut | date }}</mat-card-subtitle>
          <span>{{ festival.nbPlaceRestante }} places restantes</span>
          <span class="festival-tarif">Tarif : {{ festival.tarif }} €</span>
        </mat-card-content>
      </mat-card>
  </div>
</div>





