.details{
    text-align: left;
     width: 700px;
    height: max-content;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 15px -4px #000000; 
    box-shadow: 2px 2px 15px -4px #000000;
    margin: 20px;
    font-family: Arial;
    font-size: medium;
  } 
  ul{
    padding-left: 0px;
  }
  .festival-title{
    font-family:  'Open Sans Semi-Bold';
    font-size: x-large;
    font-weight: bold;
    
  }
  .festival-container {
      text-align: left;
      display: flex;
   
    }
    .festivalImage{
      flex: 0 0 auto;
      margin-right: -373px; 
   
    }
    .festivalImage img {
      max-width: 30%; 
      height: auto; 
    }
    .covoiturage-details {
      font-family: Arial;
      font-style: normal;
    }
    .prix-total-container {
        display: flex;
        justify-content: space-between;
        font-family: Arial;
        font-style: normal;
        font-size: medium;
      }