<div class="details">
   
       <div class="festival-delete">
        <div class="festival-container">
        <div class="festivalImage">
            <img src="/assets/images/festival1.png" >
        </div>
        <div class="festival-titre">
             <h3><b> Worldwide Concert Lyon </b></h3> 
            <ul>
                <i>date : 12/06/2024</i> <br>
                <i>Lieu: Lille</i>
            </ul>    
       </div>
    </div>
       <div (click)="Openconfirmer()"><mat-icon>delete</mat-icon></div> 
       </div> 
        

   <hr>
   <h3><b> Détail de couvoiturage </b></h3> 
            <ul>
                <i>Nom de covoitureur :</i> <br>
                <i>Point de départ : </i><br>
                <i>Nombre de pass : </i>
            </ul>    
    <div class="prix-total-container">
        <div class="prix-passanger">
           <b> Prix total pour 2 pass : </b>
        </div>
    
        <div class="prix-total">
            <b>     94.95€ </b>
          </div>
        </div>
   