<div class="panier-container">
    <h1 class="panier-titre"><b> Panier</b> </h1>
    <div class="container-fluid">
        <br /><br />
        <ul class="list-unstyled multi-steps">
          <a routerLink="/accueil"><li>Choisir un festival  </li></a>
          <a [routerLink]="['/detailfestival/:id']" > <li> Choisir une covoiturage</li></a> 
         <a [routerLink]="['/panier']" class="is-active"> <li   >Payer</li></a>
        </ul>
      </div>
    <ng-container *ngFor="let element of panier">
      <app-element [element]="element"></app-element>

      <!-- <div class="total-container">
          <div class="prix-passanger">
            <b>  Prix total : </b>
          </div>
      
          <div class="prix-total">
              <b>     94.95€ </b>
            </div>
      
      </div>  -->
      
    </ng-container>
    <div class="buttons">
      <button mat-icon-button class="ajouter" (click)="alleraccueil()">Ajouter un festival</button>
      <button mat-icon-button class="payer" (click)= "onCreate()">Payer</button>
  </div>  
       
</div> 
       
   
