<div class="panier-container">
    <h1 class="festival-date"><b> Panier</b> </h1>
 
     <div class="festival-container">
             <div class="festivalImage">
                 <img src="/assets/images/festival1.png" >
             </div>
             <div class="festival-titre">
                  <h3><b> Worldwide Concert Lyon </b></h3> 
                 <ul>
                     <i>date : 12/06/2024</i> <br>
                     <i>Lieu: Lille</i>
                 </ul>
                 
                 
         </div>
     
         
     
     </div>
</div>