
<div class="cart-container">
  <button class="close" (click)="close()">✖</button>

    <h1 class="festival-date"><b> Choisir un point de départ</b> </h1>
   
 <div class="trajet-container">
     <div class="box">
         <div class="box-location">
             <div class="Point-depart">
               Choisir point de départ :
             </div>
         <div class="etapes">   
             <label class="radio">
                 <input name="radio" type="radio" checked>
                 <span>heure :</span> <span> Etape 1</span>
               </label>
               <label class="radio">
                 <input name="radio" type="radio">
                 <span>heure :</span> <span>Etape 2</span>
               </label>
               <label class="radio">
                 <input name="radio" type="radio">
                 <span>heure :</span>  <span>Etape 3</span>
               </label>
          </div> 
          <div class="Point-arrive">
             Point d’arriver : 37, place Corinne Etienne 49378 Lille
           </div>
        
         </div>
        
     </div>
 </div>
 <div class="prix-container">
             <div class="prix-passanger">
              Prix par passenger : 
             </div>
          <div class="prix">
             43€
           </div>
         
 </div>
 <div class="place-container">
     <div class="prix-passanger">
         Nombre de places : 
     </div>
 
     <div class="input-container">
         
         <input type="number" id="nombreDePlaces" value="1" min="1">
       </div>
 </div>
 <div class="prix-total-container">
     <div class="prix-passanger">
         Prix total : 
     </div>
 
     <div class="prix-total">
         94.95€
       </div>
 </div>
 
 <div class="button">
     <button mat-icon-button class="ajouter" (click)="close()" >Ajouter au panier</button>
 </div>
 
 </div>
 