

<div class="cart-container">
    <h1 class="festival-date"><b> Choisir point de départ</b> </h1>
    <div class="container-fluid">
     <br /><br />
     <ul class="list-unstyled multi-steps">
       <li>Choisir un festival</li>
       <li>Choisir une covoiturege</li>
       <li  class="is-active" >Choisir point de départ</li>
       <li>Valider</li>
     </ul>
   </div>
     <div class="festival-container">
             <div class="festivalImage">
                 <img src="/assets/images/festival1.png" >
             </div>
             <div class="festival-titre">
                  <h3><b> Worldwide Concert Lyon </b></h3> 
                 <ul>
                     <i>date : 12/06/2024</i> <br>
                     <i>Lieu: Lille</i>
                 </ul>
                 
                 
         </div>
     
         
     
     </div>
 <div class="trajet-container">
     <div class="box">
         <div class="box-location">
             <div class="Point-depart">
               Choisir point de départ :
             </div>
         <div class="etapes">   
             <label class="radio">
                 <input name="radio" type="radio" checked>
                 <span>heure :</span> <span> Etape 1</span>
               </label>
               <label class="radio">
                 <input name="radio" type="radio">
                 <span>heure :</span> <span>Etape 2</span>
               </label>
               <label class="radio">
                 <input name="radio" type="radio">
                 <span>heure :</span>  <span>Etape 3</span>
               </label>
          </div> 
          <div class="Point-arrive">
             Point d’arriver : 37, place Corinne Etienne 49378 Lille
           </div>
        
         </div>
        
     </div>
 </div>
 <div class="prix-container">
             <div class="prix-passanger">
              Prix par passenger : 
             </div>
          <div class="prix">
             43€
           </div>
         
 </div>
 <div class="place-container">
     <div class="prix-passanger">
         Nombre de places : 
     </div>
 
     <div class="input-container">
         
         <input type="number" id="nombreDePlaces" value="1" min="1">
       </div>
 </div>
 <div class="prix-total-container">
     <div class="prix-passanger">
         Prix total : 
     </div>
 
     <div class="prix-total">
         94.95€
       </div>
 
 </div>
 
 <div class="buttons">
     <button mat-icon-button class="retourner" >Retourner</button>
     <button mat-icon-button class="ajouter" >Ajouter au panier</button>
 </div>
 
 </div>
 